<div class="jumbotron center">
	<h1>Bienvenido a mi Aplicación</h1>
	<p><%= link_to "Iniciar Sesión", "#", class:'btn btn-default btn-lg' %>
		<%= link_to "Registrate", "https://google.com", class:'btn btn-primary btn-lg' %>
	</p>
</div>

