<div class="jumbotron center">
	<h1>Bienvenido a mi Aplicación</h1>
	<p><% if user_signed_in? %>
		  #Hacer Algo
		<% else %>
			<%= link_to "Registrate", new_user_registration_path , class:'btn btn-primary btn-lg' %>
		<% end %>
	</p>
</div>

